### JAVA (Maven) ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.factorypath
.mvn/
mvnw.cmd
.metadata/

### PYTHON ###
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.pytest_cache/
.python-version

### IDEs (O que você já enviou) ###
.idea/
out/
.kotlin
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/

### SISTEMA OPERACIONAL ###
.DS_Store
Thumbs.db
desktop.ini

### LOGS ###
*.log
logs/